body {
  margin: 0;
}
.remove-link {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}

.flex-justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 1320px;
}
header {
  background: #edecff;
  height: 691px;
  gap: 0px;
  opacity: 0px;
}
.logo {
  /* margin: 0 auto; */
  width: 156px;
  height: 34px;
}

.nav-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.nav {
  display: flex;
  gap: 60px;
  width: 564px;
  height: 19px;
}

.nav-link {
  width: 96px;
  height: 19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
}

.nav-link:hover {
  font-weight: 800;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.search-btn {
  padding: 10px 30px;
  height: 40px;
  background: #fbf3eb;
  border: none;
}
.search-btn p {
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 5%;

  color: #333333;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-container {
  display: grid;
  /* grid-template-columns: 645px 675px; */
  grid-template-columns: 645px auto;
  margin-top: 58px;
  margin-bottom: 37px;
  height: 526px;
}

.hero-details {
  margin-top: 49px;
  /* TXT */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 645px;
  height: 394px;
}

.hero-title {
  width: 597px;
  height: 162px;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 81px;

  /* General/Body text */
  color: #333333;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-text {
  width: 615px;
  height: 72px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* General/Body text */
  color: #333333;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-btn {
  /* Buttons / Primary */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px 10px 20px;
  gap: 15px;

  width: 196px;
  height: 40px;

  /* Main/Primary three */
  background: #fdd9d3;
  /* General/Body text */
  border-left: 4px solid #333333;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.hero-btn p {
  /* Submit */

  margin: 0 auto;
  height: 19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333333;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 30px;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.card-item {
  width: 195px;
  display: flex;
}

.card-item:nth-child(even) {
  flex-direction: column-reverse;
}

.card-item:nth-child(odd) {
  flex-direction: column;
}

.card-image {
  width: 195px;
  height: 460px;
  border-radius: 24px;
}
.card-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  color: #333333;
}

.spacer-1 {
  margin: 30px auto;
}

.popular-wrapper {
  height: 284px;
}

.title-with-arrow {
  /* margin: 0 auto; */
  height: 70px;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: #333333;
  text-align: left;
  display: flex;
}

.popular-arrow {
  margin: auto 0 auto auto;
  width: 40px;
  height: 40px;
}

.works-container {
  margin: 60px auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.work-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;

  width: 420px;
  height: 93px;
}

.work-image {
  width: 83px;
  height: 83px;
  border-radius: 100px;
}

.work-title {
  width: 307px;
  height: 35px;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;

  color: #333333;
}
.work-text {
  width: 307px;
  height: 48px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.separator {
  position: relative;
  height: 1px;
  background: #f1f1f1;
}
.separator-decoration {
  position: absolute;
  left: 113px;
  width: 82px;
  height: 1px;
  background: #333333;
}

.article-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.article-link {
  height: 24px;
  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #333333;
}
.article-link:hover {
  text-decoration-line: none;
}

.featured-wrapper {
  height: 618px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.featured-image {
  width: 645px;
  height: 618px;
  border-radius: 32px;
}

.featured-articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.featured-article {
  width: 645px;
  height: 186px;
  display: flex;
  gap: 30px;
}

.featured-decorations-wrapper {
  /* bullets */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;

  width: 420px;
  height: 20px;
}

.featured-decoration {
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}
.featured-decoration p {
  margin: 0;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #656565;
}

.featured-title {
  margin-top: 5px;
  width: 420px;
  height: 35px;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
}

.featured-text {
  margin-top: 30px;
  width: 420px;
  height: 96px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  /* text-wrap: wrap; */
  word-break: break-all;
  /* white-space: normal; */
}

.featured-icon {
  width: 16.25px;
  height: 17.92px;
}

.submited-articles-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.article-item {
  /* display: grid;
  grid-template-columns: 645px 645px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
  /* width: 1320px; */
  margin-left: 0;
  margin-right: 0;
  height: 350px;
}

.article-item:nth-child(even) {
  flex-direction: row-reverse !important;
}

.article-image {
  width: 645px;
  height: 350px;
  border-radius: 32px;
}

.article-wrapper {
  width: 645px;
}

.article-header {
  margin-bottom: 50px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  margin: 0 auto; */
  width: 585px;
  height: 108px;
}

.article-cap {
  /* Category */

  /* width: 97px; */
  height: 32px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #656565;
}

.article-title {
  width: 574px;
  height: 46px;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #333333;
}

.article-details {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 60px;

  width: 585px;
  height: 20px;
}

.article-decorations {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.article-icon {
  width: 16.25px;
  height: 17.92px;
}

.article-text {
  height: 192px;
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* General/Body text */
  color: #333333;
}
.article-text p {
  margin: 0;
}

.email-wrapper {
  height: 166px;
  margin: auto;
  background: #edecff;
  /* Hello! If you have some questions, then you can just write an email to us ;) */

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: left;

  /* General/Body text */
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-span {
  color: #656565;
  text-decoration: underline;
}

.footer-content {
  display: grid;
  grid-template-columns: 630px auto;
  width: 1320px;
}

.copyright {
  /* margin-top: 0; */
  /* © 2023 Articler. Some rights reserved. */
  /* margin: 0 auto; */
  width: 630px;
  height: 38px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* General/Body text */
  color: #333333;
}

.footer-links {
  display: flex;
  justify-content: right;
  gap: 60px;
}

.footer-link {
  height: 19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
}

.footer-link:hover {
  font-weight: 400 !important;
}
